<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="runtime.linux-arm.runtime.native.System.IO.Ports" version="5.0.0" />
  <package id="runtime.linux-arm64.runtime.native.System.IO.Ports" version="5.0.0" />
  <package id="runtime.linux-x64.runtime.native.System.IO.Ports" version="5.0.0" />
  <package id="runtime.native.System.IO.Ports" version="5.0.1" />
  <package id="runtime.osx-x64.runtime.native.System.IO.Ports" version="5.0.0" />
  <package id="SerialPortLib2" version="1.0.10" />
  <package id="System.Buffers" version="4.5.1" />
</packages>